#navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(178, 244, 91);
    margin-bottom: 50px;
    padding:0px 20px;
}
a{
    margin-top: 20px;
}
#voucher_list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
   margin-left: 50px;
}
img{
    width: 250px;
    height: 300px;
}